{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cover-image.css' %}">
    <title>ecommerce otono | cover image</title>
</head>
<section class="cover-image-container">
    <img class="imagen"
        src="https://png.pngtree.com/png-vector/20220521/ourlarge/pngtree-design-a-beautiful-summer-sale-banner-cover-with-special-discounts-and-cute-theme-vector-png-image_36764868.jpg"
        alt="imagen-portada" />
</section>

</html>