{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navigation-bar.css' %}">
    <title>ecommerce otono | footer</title>
</head>

<nav class="navigation-bar-container">
    <h2 class="logo"><a href="/">OTOÑO</a></h2>
    <input class="seeker" />
    <ul class="list">
        <li class="list-item"><a href="{% url 'categories' %}">Categorías</a></li>
        <li class="list-item"><a href="{% url 'categories' %}">Usuario</a></li>
    </ul>
</nav>

</html>