{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>otoño ecommerce website</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>

<body class="home-contenedor">
    <header class="home-contenedor-encabezado">
        {% include "components/navigation-bar.html" %}
        {% include "components/cover-image.html" %}
    </header>
    <main class="home-contenedor-cuerpo">
        <h2 class="home-contenedor-cuerpo-titulo">PRODUCTOS MAS DESTACADOS</h2>
        <ul class="home-contenedor-cuerpo-productos">
            {% for product in products|slice:":5" %}
            <li class="home-contenedor-cuerpo-productos-tarjeta">
                <div class="home-contenedor-cuerpo-productos-imagen">
                    <img src="{{ product.image_url }}" />
                </div>
                <h3 class="home-contenedor-cuerpo-productos-nombre">{{ product.name }}</h3>
                <h4 class="home-contenedor-cuerpo-productos-precio">{{ product.price }}</h4>
            </li>
            {% endfor %}
        </ul>
    </main>

    <footer class="home-contenedor-piedepagina">

    </footer>
</body>

</html>