{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <title>otoño ecommerce website</title>
</head>

<body>
    <nav class="index-navigation-container">
        {% include "components/navigation-bar.html" %}
    </nav>

    <section class="index-cover-image-container">
        {% include "components/cover-image.html" %}
    </section>

    <article class="index-article-container">
        {% block content %}{% endblock %}
    </article>

    <footer class="index-footer-container">
        {% include "components/footer.html" %}
    </footer>
</body>

</html>