.navigation-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    & .logo {

        & a {
            font-family: Arial black;
            font-size: 16px;
            font-style: italic;
            letter-spacing: 1px;
        }
    }

    & .seeker {
        border: 0;
        background-color: #ececec;
        padding: 5px 0 5px 0;
        margin: 0 20px 0 40px;
        min-width: 300px;
    }

    & .list {
        display: flex;

        & .list-item {
            padding: 0 20px 0 20px;

            & a {
                font-size: 16px;
            }
        }
    }
}